body{
 background:#E5E8E8;

}

.gg{
  height: 600px;
  width: 500px;
}


.re{
  height: 200px;
  width: 15px;
  margin-top: 200px;
  font-size: 50px;
  position: relative;
  left:100px;
}
.r{
  height: 120px;
  width: 15px;
  margin-top: 200px;
  font-size: 50px;
  background-color:black;
  position: relative;
  bottom: 220px;

}
.a{
  right: 930px;
}
.b{
  right: 910px;
}
.c{
  right: 910px;
}
.d{
  right: 890px;
}
.e{
  right: 890px;
}
.f{
  right: 890px;
}
.g{
  right: 870px;
}
.h{
  right: 870px;
}
.i{
  right: 850px;
}
.j{
  right: 850px;
}
.k{
  left: 30px;
}
.l{
  left: 50px;
}
.m{
  left: 50px;
}
.n{
  left: 70px;
}
.o{
  left: 70px;
}
.p{
  left: 70px;
}
.q{
  left: 90px;
}
.rw{
  left: 90px;
}
.s{
  left: 110px;
}
.t{
  left: 110px;
}
.u{
  left: 110px;
}
.v{
  left: 130px;
}
.w{
  left: 130px;
}
.x{
  left: 150px;
}
.y{
  left: 150px;
}
.z{
  left: 150px;
}
.aa{
  left: 170px;
}
.ab{
  left: 170px;
}
.ac{
  left: 190px;
}
.ad{
  left: 190px;
}
.ae{
  left: 190px;
}
.af{
  left: 210px;
}
.ag{
  left: 210px;
}
.ah{
  left: 230px;
}
.ai{
  left: 230px;
}
.aj{
  left: 230px;
}







h1{
  margin-top: 100px;
  font-size: 75px;
  font-style: italic;
  color:white;
}
.ee{
  bottom: 541px;
}
.xxxx{
  position: relative;
  bottom: 140px;
}
.rid{
  position: relative;
  top: 320px;
  left: 450px;
}
